@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary : #182e26;
  --bg-secondary: #122921;
  --color-secondary: #af8008f6;
  --bg-light: #a9b3a9;
  --border-b: dashed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #1c3025 */